In [1]:
import pandas as pd
file_to_load = "purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [2]:
df = purchase_data

In [3]:
purchase_data_top = df.head()
purchase_data_top

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_bottom = df.tail()
purchase_data_bottom

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [5]:
player_count = len(df["SN"].unique().tolist())
player_count

576

In [6]:
num_unique_items = len(df['Item ID'].unique().tolist())

In [7]:
num_unique_items

179

In [8]:
average_price = df["Price"].mean()
average_price

3.0509871794871795

In [9]:
total_purchase = len(df["Purchase ID"])
total_purchase

780

In [10]:
total_revenue = df["Price"].sum()
total_revenue

2379.77

In [11]:
purchasing_analysis = {'Player Count': [player_count],'Unique Items': [num_unique_items],'Average Price': [average_price],'Total Purchases': [total_purchase],'Total Revenue': [total_revenue]}
Purchase_Analysis = pd.DataFrame(data=purchasing_analysis)
Purchase_Analysis.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
Purchase_Analysis

   Player Count  Unique Items  Average Price  Total Purchases  Total Revenue
0           576           179       3.050987              780        2379.77

In [12]:
Purchase_Analysis.dtypes

Player Count         int64
Unique Items         int64
Average Price      float64
Total Purchases      int64
Total Revenue      float64
dtype: object

In [13]:
count_total = df['Gender'].value_counts()
count_total

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
count_male = df['Gender'].value_counts().Male
count_male

652

In [15]:
count_female = df['Gender'].value_counts().Female
count_female

113

In [16]:
count_other = len(df['Gender'])- count_male - count_female 
count_other

15

In [17]:
male_percent = df['Gender'].value_counts(normalize=True).Male
male_percent

0.8358974358974359

In [18]:
female_percent = df['Gender'].value_counts(normalize=True).Female
female_percent

0.14487179487179488

In [19]:
other_percent = 1 - male_percent - female_percent
other_percent

0.01923076923076919

In [20]:
gender = {'Gender': ["Male", "Female", "Other"], 'Count': [count_male, count_female, count_other], 'Percent': [male_percent, female_percent, other_percent]}
gender_analysis = pd.DataFrame(data=gender)
gender_analysis

   Gender  Count   Percent
0    Male    652  0.835897
1  Female    113  0.144872
2   Other     15  0.019231

In [21]:
by_gender_value = df.groupby('Gender')['Price'].sum()
by_gender_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
by_gender_average = df.groupby('Gender')['Price'].mean()
by_gender_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [23]:
male_value = by_gender_value['Male']
male_value

1967.6399999999994

In [24]:
female_value = by_gender_value['Female']
female_value

361.93999999999966

In [25]:
other_value = sum(by_gender_value) - male_value - female_value
other_value

50.19

In [26]:
per_person_avg = total_revenue/count_male
per_person_avg

3.6499539877300613

In [27]:
unique_gender_sn = df.groupby('Gender').nunique()['SN']
unique_gender_sn

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [28]:
avg_purchase_per_person = by_gender_value/unique_gender_sn
avg_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [29]:
gender_analysis = pd.DataFrame({"Purchase Count": count_total, 
                                    "Average Purchase Price": by_gender_average,
                                    "Average Purchase Value": by_gender_value,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})


gender_analysis.index.name = "Gender"


gender_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [30]:
age_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

In [31]:
df["Age Groups"]= pd.cut(df['Age'],age_bin, labels=groups)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [32]:
grouped_by_age = df.groupby("Age Groups")

In [33]:
total_age_count = grouped_by_age["SN"].nunique()
total_age_count

Age Groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>40       12
Name: SN, dtype: int64

In [34]:
by_age_average = df.groupby('Age Groups')['Price'].mean()
by_age_average

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
>40      2.941538
Name: Price, dtype: float64

In [35]:
by_age_value = df.groupby('Age Groups')['Price'].sum()

In [36]:
avg_purchase_per_person_age = by_age_value/total_age_count
avg_purchase_per_person_age

Age Groups
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
>40      3.186667
dtype: float64

In [38]:
age_analysis = pd.DataFrame({"Purchase Count": total_age_count, 
                                    "Average Purchase Price": by_age_average,
                                    "Purchase Value": by_age_value,
                                    "Avg Purchase Total per Person": avg_purchase_per_person_age})


age_analysis.index.name = "Age Groups"


age_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [49]:
by_sn_value = df.groupby('SN')['Price'].sum()

In [50]:
purchase_count_sn = df.groupby('SN')['Purchase ID'].count()

In [51]:
avg_sn_purchase = df.groupby('SN')['Price'].mean()

In [56]:
sn_analysis = pd.DataFrame({"Purchase Count": purchase_count_sn, 
                                    "Average Purchase Price": avg_sn_purchase,
                                    "Total Purchase Value": by_sn_value,})

sn_analysis_formated = sn_analysis.sort_values(["Total Purchase Value"], ascending=False).head()


sn_analysis_formated.style.format({"Average Purchase Value":"${:,.2f}", "Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [58]:
by_item_value = df.groupby('Item ID')['Price'].sum()

In [60]:
by_item_name = df.groupby('Item ID')['Item Name']

In [62]:
purchase_count_item = df.groupby('Item ID')['Purchase ID'].count()

In [63]:
item_analysis = pd.DataFrame({"Item ID": df['Item ID'], 
                              "Item Name": df['Item Name'],
                              "Purchase Count": purchase_count_item, 
                                    "Item Price": df['Price'],
                                    "Total Purchase Value": by_item_value,})

item_analysis_formated = item_analysis.sort_values(["Total Purchase Value"], ascending=False).head()


item_analysis_formated.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"})